.hero {
  margin: 0 auto;
  display: flex;
  background: #2f303a;
  width: 100%;
  /* height: 400px; */
  text-align: center;
 
}
@media screen  and (max-width:767px) {
.hero{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgindex/hero-mobile.png");

}
}



@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgindex/hero-table.png");
    width: 100%;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imgindex/hero-desk.png");
    width: 100%;
    height: 600px;
    padding-bottom: 200px;
  padding-top: 200px;
  justify-content: center;
  }
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.section-text-hidden {
  display: none;
}

.features-list {
  list-style-type: none;
}

.features-icon{
  background: #F5F4FA;
border-radius: 4px;
  width: 100%;
  list-style-type: none;
  justify-content: center; 
}
 
 
  @media screen and (min-width:768px) {
    .features-list{
     
      gap: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .features-icon{
width: 354px;
    }
  
}

@media screen and (min-width:1200px) {
  .features-list{
  
    display: flex;
  }
  .features-icon{
    width: 270px;
        }
      
      }





.features-text {
  margin-top: 30px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.description {
  text-align: left;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-project {
  padding-top: 94px; 
}

@media screen and (max-width: 1199px) {
  .hero-project{
    display: none;
  }
  
}



.project-text {
  
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.img-item + .img-item {
  margin-left: 30px;
}

.list-img {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.team-section {
  background: #F5F4FA;
}

  
.team {
  font-family: "Roboto", sans-serif;
  vertical-align: top;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.team-main {
  background: #f5f4fa;
}

.worker-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  background: #FFFFFF;
}

@media screen and (min-width: 480px) {
  .worker-item {
    width: 100%;
    
  }
}
@media screen and (min-width: 768px){
  .worker-list{
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 30px;
    display: grid;
  }
}

@media screen and (min-width: 1200px){
  .worker-list{
    
    display: flex;
    width: 450px;
  }
  
}

.woker-socials-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.worker-socials-item + .worker-socials-item {
  margin-left: 10px;
}

.worker-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
}

.worker-socials-link:hover, .worker-socials-link:focus {
  background-color: #2196F3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.worker-socials-link:hover
.worker-socials-icon {
  fill: white;
}

.worker-socials-link:focus
.worker-socials-icon {
  fill: white;
}


.worker-socials-icon {
  fill: #AFB1B8;
  transition: fill 250ms linear;
}

.worker-list {
  width: 100%;
  list-style-type: none;
}

@media screen and (max-width: 767px){
  .worker-item:not(:last-child) {
    margin-bottom: 30px;
  }

}
  

.worker-description {
  padding: 30px 32px;
}

.worker-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.position-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.clients-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.clients-item {
  list-style-type: none;
}


.clients-icon {
  fill: #AFB1B8;
  transition: fill 250ms linear;
}

@media screen and (min-width:480px) {
  .clients-link {
    width: 210px;
  }
}
@media screen and (min-width:768px) {
  .clients-list {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width:1200px) {
  .clients-list {
    display: flex;
    justify-content: center;
   
  }
  .clients-item {
    width: 170px;
  }
  }



.clients-link {
  width: 100%;
  height: 92px;
  display: flex;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: color, border-color 250ms linear;
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-link:hover .clients-icon {
  fill: #2196f3;
}

.clients-link:focus .clients-icon {
  fill: #2196f3;
}
